
text.text

.env

final3venv/

db.sqlite3
§
#  cause conflicts and can be regenerated
*/migrations/*

__pycache__/

.vscode/

zignore/

# Ignore the Mac OS X .DS_Store files
.DS_Store

final3.code-workspace