body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    top: 0rem;
    color: rgb(252, 252, 252);
    font-size: 1rem;
    border-top: 0px;
    padding-bottom: 0rem;
    background-color: black;
}

/* ///////// page variables  navbtn ////////*/

.indexbodyclass,
.indexmenuwideclass {
    background-image: url("imgs/city2.jpg");

    background-attachment: fixed;
    background-size: cover;
    /* background-position: -22rem 0rem ; */
    animation: movebackground 100s infinite;
}

@keyframes movebackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


/* chat variables */
.chatbodyclass,
.chatmenuwideclass {
    background-image: url("imgs/red.jpg");
    background-position: RIGHT 0rem;
    background-attachment: fixed;
    background-size: cover;
}


/* memories variables */
.memoriesbodyclass,
.memoriesmenuwideclass {
    background-image: url("imgs/sea.jpg");
    background-position: right 0rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* register variables */


.registermenuwideclass,
.registerbodyclass {
    background-size: cover;
    background-image: url("imgs/rachel.jpg");
    background-position: -50rem 0rem;
    background-attachment: fixed;
    background-repeat: cover;
    /* height: 100vh; */
}

@media screen and (min-width: 600px) {

    .registermenuwideclass,
    .registerbodyclass {
        background-position: -30rem 0rem;
    }
}
.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* /////////////// shared //////////////// */

.figletheading {
    font-size: .6rem;
    font-weight: bold;
    opacity: .7;
    text-align: center;
    /* color: orange; */
}

.figsubbox {
    padding-right:2rem;
    padding-left:2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.figletsubheading {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .4rem;
    font-weight: bold;
    opacity: 0.8;
    text-align: center;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,

label,
.font,
.pwdchange {
    opacity: .7;
}

ul {
    opacity: 1;
}

a {
    text-decoration: none;
    color: white;
}

.heading {
    margin-top: -2rem;
    font-size: 3rem;
}

.figletlogo {
    font-weight: bold;
    padding-left: 2rem;
}

.indexformcontainer {
    padding: 0rem 0rem 0rem 0rem;
}

@media screen and (min-width: 992px) {
    
}
.mainpagecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 0;
    padding-top: 15rem;
}

/* /////////   menu/layout page  //////////// */


.ultimatecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 44rem;
    position: relative;
    top: 0rem;
    ;
    padding-bottom: 4rem;
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 4rem;
    overflow: hidden;
}

.nimchimpski {
    font-size: x-small;
    opacity: .6;
    position: absolute;
    left: 2rem;
    bottom: -2rem;
}

.agentyou {
    position: relative;
    top: -1rem;
    right: -12rem;
}

.messages {
    text-align: left;
}

.toprightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: .25rem;
    opacity: 1;
    width: 4rem;
    border: 1px solid rgba(255, 255, 255, .5);
}

.loggedin {
    opacity: .8;
    font-size: .8rem;
}

.menuwidebox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
  
    border: 1px solid rgba(255, 255, 255, 0.5);
    color:white;
    z-index: 20;
    max-width: 44rem;
    width:100%;
    
    } 
/* /////////////// */
/* //////// chat page ///////// */


.chooseclonebox {
    position: relative;
    /* border: 1px solid rgb(233, 13, 13); */
 
}
.cloneform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chooseclone {
    max-height: 10rem;
    position: relative;
    /* left: 30%; */
    overflow-y: scroll;
    opacity: .8;
    padding: 1rem;
    border: 1px solid  rgba(255, 255, 255, 0.5);
}
.clonebutton {
    margin-top: 1rem;
    text-align: center;
}
.response {
    margin: 1rem;
    background-image: -webkit-linear-gradient(-45deg, rgb(162, 122, 142), rgb(234, 137, 34));
    background-size: 200% 200%;
    max-width: 30rem;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 0.5rem;
    animation: Gradient 3s ease infinite;
    z-index: 10;
    width:20rem;
}

.chatsubmit {
    position: relative;
    text-align: center;
    /* left: 45%; */
}

.chatbox {
    padding: 0 1rem;
}



@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}
.startnewchat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#thinkingdiv {
    display: none;
}
/* /////////////////   end chat page */
/* ////////////////  memories page ////////// */

.configureheadingbox {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.configurebox {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, .5);
    padding: 1rem 2rem 2rem 2rem;
    margin-bottom: 1rem;
}


.configurescrollbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0rem 2rem 2rem 2rem;
    height: auto;
    max-height: 10rem;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}

.inner {
    margin-bottom: -3rem;
}

.pwdchange {
    font-size: .8rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    height: auto;
    position: relative;
    border: 1px solid rgba(255, 255, 255, .5);
    height: 1rem;
    padding: .5rem .5rem .5rem .5rem;
}
.instructionstxt {
    position: relative;
    margin-left: 2rem;
    color: rgba(234, 137, 34, 1);
    border: 1px solid rgb(234, 137, 34);
    cursor: pointer;
}
.instructions {
    color: rgba(234, 137, 34, .8);
    margin-bottom: 1rem;
}
#domaininstructions {
    /* display: none; */
}
#factsinstructions  {
    /* display: none; */
}
.domainbox {
    position: relative;
    top:0rem;
}
.domainfield {
    width: 20rem;
}

.textarea {
    display: block;
    min-height: 1rem;
    margin-top: .5rem;
    opacity: .7;
    border-radius: 0.5rem;
    width: 100%;
}

.topicboo {
    display: block;
}

.form-group {
    justify-self: right;
}

.newmemoryform .form-group {
    width: 100%;
}

/* ////////  register page  /////////// */


.register {
    margin-top: -2rem;
}

.registerbox {

    border: 1px solid rgba(255, 255, 255, .5);
    padding: 2rem 2rem 2rem 2rem;
    margin-bottom: 1rem;
    width: 24rem;
}

.fieldbox {
    margin-bottom: 1rem;
    opacity: .8;
}

.help {
    opacity: .7;
}

/* buttons */



form input[type=submit] {
    background: -webkit-linear-gradient(-45deg, rgb(167, 158, 158), rgb(234, 137, 34));
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    color: rgb(216, 214, 214);
}

.btn {
    margin-top: 1rem;
    margin-left: 1rem;
    background: -webkit-linear-gradient(-45deg, rgb(167, 158, 158), rgb(234, 137, 34));
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.navbtn {
    width: 5rem;
    margin-left: 0rem;
}

.btn2 {
    background: -webkit-linear-gradient(-45deg, rgb(167, 158, 158), rgb(234, 137, 34));
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 0.5rem;
}