h1 {
    
    font-size: 3rem;
   
    text-align: center;
}
body {
    /* background-color: black; */
    /* background-image: url(/imgs/red.jpg); */
    font-family : Verdana, Geneva, Tahoma, sans-serif;
    color: #d12f2f;
    margin-left: 8rem;
}