{% extends 'ayou/layout.html' %}
{% block body %}
{% load static %}
       <style>

body {
    /* background-color: aqua; */
    background-image: url('{% static "ayou/imgs/red.jpg" %}' );
    background-position: RIGHT 0rem;
  

}
       </style>

<h1 class="chatheading">Chat with {{ name }} Ayou</h1>

<form action="{% url 'ayou:chat' %}" method="POST">
        {% csrf_token %}
        {{ chatform }}
        <input type="submit" name="chatsubmit"></form>
        <div class="response">{{ responsecontent }}</div>
        <br>


<form action="{% url 'ayou:chat' %}" method="POST">
        {% csrf_token %}
<div class="form-group">






        {% if tokensused %}
     <h3>tokens used in chat: {{ tokensused }}</h3>
     {% endif %}

<h3>Chat with someone elses Ayou clone</h3>

<form action="{% url 'ayou:chat' %}" method="POST">
   {% csrf_token %}
   {{ selectagentform }}
   <input type="submit" value="choose clone" name="selectagentsubmit">
   </form>


        {% endblock %}