{% extends 'ayou/layout.html' %}
{% load static %}

{% block body %}

<div class="mainpagecontainer">
        
        <div class="figletheading">
                <pre>{{ heading }} {{ selectedagentheading }}</pre>
        </div>
        <br>


        

        <form id="chatform" class="chatbox" action="{% url 'ayou:chat' %}" method="POST">
                {% csrf_token %}
                <div id="responsediv" class="response">{{ responsecontent }}
                        <p id="thinkingdiv">Thinking!...</p>
                </div>
          
                <div class="form-group">
                        <label for="chat">{{ chatform.usercontent.label }}</label>
                        {{ chatform.usercontent }}
                </div>

                <input type="hidden" name="chatsubmit" value="chatform">
                <br>
                <div class="chatsubmit"><input type="submit"></div>


                <br>
                <br>
                <div class="form-group startnewchat">
                        <label for="chat">{{ chatform.startnewchat.label }}</label>

                        {{ chatform.startnewchat }}
                        <!-- {% if tokensused %} -->
                        <h3 id='tokensuseddiv'></h3>
                        <!-- {% endif %} -->
                </div>
        </form>
        <br>
        
               <div class="figsubbox"> 
                <pre class="figletsubheading">{{ figletsubheading }}</pre>
               </div>
        
        <div class="chooseclonebox">


                
                        <form class="cloneform" action="{% url 'ayou:chat' %}" method="POST">
                                {% csrf_token %}
                                <div class="chooseclone">
                                {{ selectagentform }}
                                <br>
                        </div>
                                <input type="submit" value="choose clone" class="clonebutton" name="selectagentsubmit">
                        </form>
                
        </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('chatform').addEventListener('submit', async function(event) {
    event.preventDefault();

    const submit = event.target;
    const formData = new FormData(submit);

    const responsediv = document.getElementById('responsediv');    
//     const tokensuseddiv = document.getElementById('tokensuseddiv')

    responsediv.innerHTML = '';

    const thinkingMessage = document.createElement('p');
    thinkingMessage.textContent = 'Thinking...';
    responsediv.appendChild(thinkingMessage);

    console.log('Form submitted, waiting for response...');


    try {
        const completion = await fetch(submit.action, {
            method: 'POST',
            body: formData,
        });
        if (completion.ok) {
            const responsejson = await completion.json();
            console.log('Received response:', responsejson);
            responsediv.removeChild(thinkingMessage);
            responsediv.innerHTML = responsejson.responseforuser; 
        //     const tokensused = responsejson.tokensused;
        //     tokensuseddiv.innerHTML = `tokens used: ${ tokensused }`
            
            
        } else {
            
            console.error('Request failed:', completion.status);
            responsediv.innerHTML = "Sorry I was miles away... Please say again.";
        }
    } catch (error) {
        console.error('request error:', error);
        responsediv.innerHTML = 'An error occurred. Please try again.';
 }
});
});


</script>
     
        {% endblock %}