{% extends 'ayou/layout.html' %}
{% load static %}

{% block body %}



<div class="mainpagecontainer indexpagecontainer">
<h1>Welcome to Ayou</h1>


<div class="indexformcontainer">
<form class="indexform" action="{% url 'ayou:login' %}" method="POST" >
    {% csrf_token %}
   <div class="form-group">
    <label for="username">Username:</label>
    {{ form.username }}
    </div>
    <br>
    <div class="form-group">
    <label for="password">Password:</label>
    {{ form.password }}
    <br>
    <input type="submit" value="login">
</form>
</div>
<br>
<br>
<button class="btn2"><a href="{% url 'password_reset' %}">Forgot password?</a></button>
   
   

<br>
<br>
    <h4>Not registered?</h4>

    <button class='btn register'><a href = "{% url 'ayou:register' %}">Join us</a></button>
<br>
<br>

</div>



{% endblock %}

