{% extends 'ayou/layout.html' %}


{% block body %}
{% load static %}
       <style>

body {
    /* background-color: aqua; */
    background-image: url('{% static "ayou/imgs/blader.jpg" %}' );
    
}
       </style>


<h1>Welcome to Ayou</h1>



<form action="{% url 'ayou:login' %}" method="POST" >
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="login">
</form>
<br>
<button class="btn2"><a href="{% url 'password_reset' %}">Forgot password?</a></button>
    </div>

<br>
<br>
    <h4>Not registered?</h4>
    <button class='btn register'><a href = "{% url 'ayou:register' %}">Join us</a></button>



{% endblock %}

