{% extends 'ayou/layout.html' %}
{% load static %}

{% block body %}


<!-- index.html -->
       <style>

body {
    /* background-color: aqua; */
    background-image: url('{% static "ayou/imgs/dove.jpg" %}' );
    background-position: 60rem 60rem;
 
    overflow: hidden;
}
       </style>

<div class="mainpagecontainer">
<h1>Welcome to Ayou</h1>



<form action="{% url 'ayou:login' %}" method="POST" >
    {% csrf_token %}
   <div class="form-group">
    <label for="username">Username:</label>
    {{ form.username }}
    </div>
    <br>
    <div class="form-group">
    <label for="password">Password:</label>
    {{ form.password }}
    <br>
    <input type="submit" value="login">
</form>
<br>
<br>
<button class="btn2"><a href="{% url 'password_reset' %}">Forgot password?</a></button>
    </div>
   

<br>
<br>
    <h4>Not registered?</h4>
    <br>
    <button class='btn register'><a href = "{% url 'ayou:register' %}">Join us</a></button>
<br>
<br>

</div
{% endblock %}

