{% load static %}


<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'ayou/styles.css' %}" rel="stylesheet">

        <title>layout</title>

        
    </head>
    <body>
<div class="menucontainer">
<div class="menu">
<a href="{% url 'ayou:chat' %}"><button class="btn">Ayou</button></a>
<a href="{% url 'ayou:memories' %}"><button class="btn">Configure</button></a>
<a href="{% url 'ayou:logout' %}"><button class="btn"> Logout</button></a>
</div>
<ul class="messages">
    {% for message in messages %}
    <li><h4>{{ message }}</h4></li>
    {% endfor %}
</ul>
</div>
<br>

<br>

{% block body %}
{% endblock %}
    </body>
</html>