


<!DOCTYPE html>
<html lang="eng">
    <head>

        <link href="/static/ayou/styles.css"  rel="stylesheet">
        <title>ayou</title>
    </head>
    <body>

<a href="{% url 'ayou:chat' %}"><button>Ayou</button></a>
<a href="{% url 'ayou:memories' %}"><button>clone klinik</button></a>



<a href="{% url 'ayou:account' %}"><button>account</button></a>
<a href="{% url 'ayou:logout' %}"><button>Logout</button></a>
<br>

<br>
<ul class="messages">
    
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% block body %}
{% endblock %}
    </body>
</html>