{% extends 'ayou/layout.html' %}

{% block body %}

<style>

</style>
       


<p>{{ message }}</p>
<div >
    <h1>Configure Ayou</h1>
<p><h4>Your knowledge areas are : {{ domainslist|join:',' }}</h4></p>
<!-- edit the domainslist -->
<h3>edit Ayou's knowledge area</h3>

<form action="{% url 'ayou:memories' %}" method="POST">
    {% csrf_token %}
    {{ domainslistform }}
    <input type="hidden" name="formname" value="DomainslistForm">
    <input type="submit" value="Update" class="btn">
</form>
<!--  -->
<!-- <div class="flex-container">  -->
<h2>Facts about Ayou</h2>
<ul>{% for item in biographyitems %}
    <li>{{ item.item }} : {{ item.description}}
        <!-- delete biography item -->
    <form action="{% url 'ayou:memories' %}" method="POST">
        {% csrf_token %}
        {{  deletebioform  }}
        <input type="hidden" name="id" value="{{ item.id }}">
        <input type="hidden" name="formname" value="deletebioform">
        <input type="submit" name="confirm" value="confirm">
     </form>
     <!--  -->
    </li>
    {% endfor %}
    </ul>

    
<!-- add new biography item -->
<h3>Add a new fact</h3>
<form action="{% url 'ayou:memories' %}" method="POST">
    {% csrf_token %}
    {{ newbioform }}
    <input type="hidden" name="formname" value="newbioform">
    <input type="submit" value="Add Detail">
</form>
<!--  -->



<h2>Ayou's memories</h2>
<ul>{% for memory in memories%}
<li>{{ memory.date }} : {{ memory.description}} : {{memory.emotion}} 
    <!-- delete memory -->
    <form action="{% url 'ayou:memories' %}" method="POST">
        {% csrf_token %}
        {{  deletememoryform  }}
        <input type="hidden" name="formname" value="deletememoryform">
        <input type="hidden" name="id" value="{{ memory.id }}">
        <input type="submit" name="confirm" value="confirm">
      <!--  -->
        
    </form>
    </li>
{% endfor %}
</ul>
<br>

<h3>Give Ayou a new memory</h3>

    
    <!-- add a memory -->
    
    <div>
<form action="{% url 'ayou:memories' %}" method="POST">
    {% csrf_token %}
  
    <div class="form-group ">
        <label for="{{ newmemoryform.emotion.id_for_label }}">{{ newmemoryform.date.label_tag }}</label>
        {{ newmemoryform.date }}
    </div>
    <div class="form-group">
        <label for="{{ newmemoryform.emotion.id_for_label }}">{{ newmemoryform.emotion.label_tag }}</label>
         {{ newmemoryform.emotion }}
    </div>
    <div class="form-group">
        <label for="{{ newmemoryform.emotion.id_for_label }}">{{ newmemoryform.description.label_tag }}</label>
        {{ newmemoryform.description}}
    </div>
    <div class="form-group textarea">
        <label for="{{ newmemoryform.emotion.id_for_label }}">{{ newmemoryform.content.label_tag }}</label>
         {{ newmemoryform.content }}
    </div>
    <input type="hidden" name="formname" value="newmemoryform">
    
    <input type="submit"></form>
</div>
    <!--  -->
    
</div>




{% endblock %}

