{% extends 'ayou/layout.html' %}
{% load static %}

{% block body %}


<div class="mainpagecontainer">

    {# //////// heading and pwd change /////////// #}

 
    <div class="configureheadingbox">
        <div>
            <h1>Configure Ayou</h1>
        
            <!-- <div class="figletheading">
                <pre>{{ heading }}</pre>
            </div> -->
            <p>{{ message }}</p>
        </div>
    </div>
    {# end heading#}

    {# //////// domains /////////// #}

    <div class="configurebox">
        <p class="text1">{{ name }}'s  knowledge area</p>

        <form method="POST" class="form1">
            {% csrf_token %}
            {{ domainslistform }}
            <input type="hidden" name="formname" value="domainslistform">
            <br>
            <input type="submit" value="Update">
        </form>
    </div>

    {# //////// bio items ////////// #}

    {# edit the bio items #}
    <div class="configurebox">
        <p class="text1">Facts about {{ name }}</p>
        {% if biographyitems %}



        {# list the bio items #}
        <div class="configurescrollbox">
            <ul>{% for item in biographyitems %}
                <li>{{ item.item }} : {{ item.description}}

                    {# delete biography item #}
                    <form action="{% url 'ayou:memories' %}" method="POST">
                        {% csrf_token %}
                        {{ deletebioform }}
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <input type="hidden" name="formname" value="deletebioform">
                        <input type="submit" name="confirm" value="confirm">
                    </form>

                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {# add new #}
        <p class="text1">Add new fact</p>

        <form action="{% url 'ayou:memories' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ newbioform.item.id_for_label }}">{{ newbioform.item.label }}</label>
                {{ newbioform.item }}
            </div>
            <br>
            <div class="form-group">
                <label for="{{ newbioform.description.id_for_label }}">{{ newbioform.description.label }}</label>
                {{ newbioform.description }}
            </div>
            <input type="hidden" name="formname" value="newbioform">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    {# end add new #}



    {# ///////// memories /////////// #}


    {# list memories #}
    <div class="configurebox">
        {% if memories %}
        <p class="text1">{{ name }}'s memories {{ memorymessage}}</p>

        <div class="configurescrollbox mem">
            <div class="inner">
                <ul>{% for memory in memories%}
                    <li>{{ memory.date }} : {{ memory.description}} : {{memory.emotion}}
                        {# delete memory #}
                        <form action="{% url 'ayou:memories' %}" method="POST">
                            {% csrf_token %}
                            {{ deletememoryform }}
                            <input type="hidden" name="formname" value="deletememoryform">
                            <input type="hidden" name="id" value="{{ memory.id }}">
                            <input type="submit" name="confirm" value="confirm">
                        </form>
                        {# end delete#}
                        <br>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {# end list memories #}



        <br>

        <p class="text1">Add new memory</p>


        {# add a memory #}

        <div class="memoryinputcontainer">
            <form action="{% url 'ayou:memories' %}" method="POST" class="memoryinputform">
                {% csrf_token %}


                <div class="form-group">
                    <label for="{{ newmemoryform.date.id_for_label }}">{{ newmemoryform.date.label}}</label>
                    {{ newmemoryform.date }}
                </div>

                <div class="form-group">
                    <label for="{{ newmemoryform.description.id_for_label }}">description</label>
                    {{ newmemoryform.description}}
                </div>
                <div class="form-group ">
                    <label for="{{ newmemoryform.content.id_for_label }}">{{ newmemoryform.content.label }}</label>
                    {{ newmemoryform.content }}
                </div>
                <div class="form-group">
                    <label for="{{ newmemoryform.emotion.id_for_label }}">{{ newmemoryform.emotion.label }}</label>
                    {{ newmemoryform.emotion }}
                </div>
                <input type="hidden" name="formname" value="newmemoryform">
                <br>
                <input type="submit" value="remember">
            </form>
        </div>
     
    {# end memories  #}

</div>
<div class=" btn"><a href="{% url 'password_change' %}">Change password</a>
</div>
</div>





{% endblock %}