{% extends 'ayou/layout.html' %}
{% load static %}

{% block body %}



<div class="mainpagecontainer registerpagecontainer">
    <div class="figletsubheading registerheading">
        <pre>{{ heading }}</pre>
</div>
<br>



<div class="registerbox">
<form action="{% url 'ayou:register' %}" method="POST" >
{% csrf_token %}
{% for field in form %}
    <div class="fieldbox">
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <br>
            <small class="help">{{ field.help_text }}</small>
        {% endif %}
        {% if field.errors %}%;
            <div class="errors">
        {{ field.errors.as_text }}
    </div>
        {% endif %}
    </div>
{% endfor %}
<button type="submit" class="font">Sign up</button>
</form>
</div>
<br>
<br>
<div class="font"> Or log in 

<button class='btn register'><a href = "{% url 'ayou:login' %}">Log in</a></button>
</div>


 <br>
</div>


{% endblock %}

