{% extends 'ayou/layout.html' %}
{% load static %}


{% block body %}
<!-- register.html -->
<style>
body {
    /* background-color: aqua; */
    background-image: url('{% static "ayou/imgs/dove.jpg" %}' );
    /* background-position: right; */
    background-position: 60rem 60rem;
    
}
</style>

<div class="mainpagecontainer">
<h2>Welcome to Ayou</h2>
<br>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


<form action="{% url 'ayou:register' %}" method="POST" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="register">
</form>

 
</div>


{% endblock %}

