{% extends 'ayou/layout.html' %}
{% load static %}


{% block body %}
<!-- register.html -->
<style>
body {
    background-size: cover;
    background-image: url('{% static "ayou/imgs/rachel.jpg" %}' );
    background-position: 63rem   0rem;
    background-attachment: fixed;
  overflow: hidden;
    
}

</style>

<div class="mainpagecontainer">
<h2>Welcome to Ayou</h2>
<br>
<!-- {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %} -->


<form action="{% url 'ayou:register' %}" method="POST" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="register">
</form>

<div> Or log in 

<button class='btn register'><a href = "{% url 'ayou:login' %}">Log in</a></button>
</div>

 <br>
</div>


{% endblock %}

